/* Body Styles */
body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid black; /* Add the border property */
    
}

/* Logo */
.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logo-container img {
    max-width: 200px; /* Adjust the size as needed */
}

/* Headings */
h1.main-heading {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    border: 5px solid #000; /* Add a border around the main heading */
    padding: 10px; /* Add some padding to the main heading */
}

h1.sub-heading {
    color: #ee1010;
    font-size: larger;
}

h2 {
    color: rgb(0, 0, 0);
}

h3,
h4,
h5 {
    margin: 5px;
    color: rgb(0, 0, 0);
}

/* Navigation */
.navLink li {
    margin: 20px;
}

a {
    color: black;
}

.navLink {
    display: inline;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Form */
.form-inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin: 5px 10px 5px 10px;
    font-weight: bold; /* Add this line */
}

/* Add some margins for each label */
.form-inline label {
    margin: 5px 10px 5px 10px;
}

/* Input fields styling */
.form-inline input[type="text"],
.form-inline input[type="number"],
.form-inline input[type="date"] {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.form-inline input[type="number"] {
    width: 6%;
}

/* Submit button styling */
.form-inline .submit-button {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align the button to the last form box */
    margin-top: 10px;
}

.form-inline input[type="submit"] {
    padding: 10px 20px;
    background-color: #171A21;
    border: 1px solid #ddd;
    color: white;
    margin: 0 10px;
    font-weight: bold; /* Add this line */
}

.form-inline input[type="submit"]:hover {
    background-color: #ac7a7a;
}

/* Book Container */
.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; /* Add this line */
    height: 300px; /* Adjust the height as needed */
}


/* Book */
.book {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: #ee1010;
    padding: 10px;
    margin: 20px;
    position: relative; /* Position the book container */
}

.book h2,
.book p {
    color: #fff;
    font-size: 14px;
    margin: 3px;
}

/* Move the remove button to the bottom-right corner */
.book form {
    position: absolute;
    bottom: 0;
    right: 0;
}

.book form input[type="submit"] {
    padding: 6px 12px;
    background-color: #171A21;
    border: 1px solid #ddd;
    color: white;
    margin: 0;
    
}

.book form input[type="submit"]:hover {
    background-color: #7A93AC;
    
}

/* Base */
.base {
    text-align: center;
    margin-top: 20px;
}

.base a {
    color: #000;
    text-decoration: none;
}

.base a:hover {
    color: #777;
}
